mat-form-field{
  width: 100%;
}

.mat-radio-group {
  padding-left: 10%;
  padding-right:10%;
  margin-left: 50px;
}

.example-h2 {
  margin: 10px;
}
.mat-radio-button{
  padding-left:3%;
  padding-right:3%;
  padding-top:5%;
}

.example-margin {
  padding-left:15%;
  padding-right:5%;
  margin: 50px;
}
