
<div class ="row">
  <div class="row text-center">
      <div class="col">
        <h1><b>神之子</b></h1>
      </div>
  </div>
<mat-card>
  <div class ="row">
      <div class="col-12">
          <mat-form-field appearance="outline">
            <h1><b>curry</b></h1>
              <img src="assets/curry.jpg" width="200" height="200">
              <button mat-raised-button ><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
           <h1> <b>轟焦凍</b></h1>
              <img src="assets/hon.jpg" width="200" height="200">
              <button mat-raised-button ><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
             <h1><b>JOJO</b></h1>
              <img src="assets/jojo.jpg" width="200" height="200">
              <button mat-raised-button><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <h1><b>哈特利</b></h1>
              <img src="assets/ninja.jpg" width="200" height="200">
              <button mat-raised-button><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <h1><b>力量人</b></h1>
              <img src="assets/power.jpg" width="200" height="200">
              <button mat-raised-button><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <h1><b>瑞斯</b></h1>
              <img src="assets/rays.jpg" width="200" height="200">
              <button mat-raised-button><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <h1><b>晨晨哥</b></h1>
            <img src="assets/chen.jpg" width="200" height="200">
            <button mat-raised-button><mat-icon>thumb_down</mat-icon></button>
        </mat-form-field>

          <mat-form-field appearance="outline">
              <h1><b>底子不行</b></h1>
              <img src="assets/soweek.jpg" width="300" height="200">
              <button mat-raised-button ><mat-icon>thumb_down</mat-icon></button>
          </mat-form-field>

      </div>
  </div>
</mat-card>
</div>
